/* Cosas de la base */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --Maleficio: #33FFFF;
    --dark-blue: #3333FF;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --slg: 20px;

}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color:;
}

.inactivo{
    display: none;
}

/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 0px 0 15px;
    border-bottom: 1px solid var(--black);
    background-color: var(--white);
}

.menu_burger{
    display: none;
}
.logo{
    width: 45px;
    height: 45px;
    margin-top: 7px;
    border-radius: 50%;
    border: 1px solid var(--black)
}
.navbar-left ul, .navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 0px;
}
.navbar-left{
    display: flex;
    margin-left: 0px;
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-right ul a{
    padding-right: 15px;
}
.navbar-right{
    margin-right: 0px;
}
.navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    color: rgb(146, 160, 160);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    font-size: var(--lg);
    margin-left: 40px;
}
.navbar-left ul li:nth-child(1) a{
    color:var(--black);
    border: 1px solid var(--black);
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--black);
    font-size: var(--lg);
}

.navbar-email{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
}

.logo_gh{
    display: flex;
    width: 40px;
    height: 40px;
}

/* Inicio */

.Inicio{
  margin-top: 10%;
  margin-left: 3%;
}

.h1_inicio{
    font-size: 150%;
}

.imagen_saludo{
  display: flex;
  width: 250px;
  height: 250px;
  margin-left: 70%;
  margin-top: -23%;
}

.p_inicio{
    font-weight: bold;
}

.saludo_mano{
    width: 50px;
    height: 30px;
}

.lear_more a{
    text-decoration: none;
    color: var(--very-light-pink);
}

/* Mobile */

.mobile-menu {
    background-color: var(--white);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 24px;
  }
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }


/* @Media */

@media(max-width: 739px){
    /* Navbar */
    .menu_burger{
    display: block;
    position: absolute;
    top: 2.2%;
    left: 2%;
    width: 30px;
    height: 30px;
    }
    .logo{
        position: absolute;
        right: 50%;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
    .logo{
        margin-top: 12px;
        width: 35px;
        height: 35px;

    }
    .logo_gh{
        width: 30px;
        height: 30px;
    }
    /* Inicio */
    .imagen_saludo{
        margin-left: 25%;
        margin-top: -60%;
    }
}

@media (min-width: 740px){
    .mobile-menu{
        display: none;
    }
}